Package: cframp3
Version: 0.0.3-1-1
Architecture: amd64
Maintainer: Frederick Ollinger <follinge@gmail.com>
Installed-Size: 57
Depends: libc6 (>= 2.3.4), libcdaudio1 (>= 0.99.12p2), libglib2.0-0 (>= 2.12.0), libpcre3, libreadline6 (>= 6.0), libsdl-mixer1.2, libsdl1.2debian (>= 1.2.11), libcdaudio-dev, libmagic-dev, libglib2.0-dev, libsdl1.2-dev
Section: sound
Priority: optional
Homepage: https://github.com/fredollinger/cframp3/commits?author=fredollinger
Description: A command line music player.
 A music player which has a ui based on the bash shell.
